
<div class="edu-exp-container">
  <div class="header">
    Education & Work Experience: 
  </div>

  <div class="flex-container">
    <div class="left-column">
      @for (item of [0,0,0,0]; track $index) {
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>he Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
              from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
              originally bred for hunting.</p>
          </mat-card-content>
        </mat-card>
     }
    </div>
    <div class="right-column">
     @for (item of [0,0,0,0]; track $index) {
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>he Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
              from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
              originally bred for hunting.</p>
          </mat-card-content>
        </mat-card>
     }
    </div>
  </div>
</div>

